@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {

  background-color: #e2e8f0;
  -webkit-user-select: none;
  user-select: none;
  overflow-y: hidden;
  height: 100vh
}

/* .scroll{
  overflow-y: scroll;
} */
.scroll::-webkit-scrollbar {
  width: 10px;
  /* Mostly for vertical scrollbars */
  height: 10px;
  /* Mostly for horizontal scrollbars */
  z-index: 1000;
}

.scroll::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #999;
  z-index: 1000;

}

.scroll::-webkit-scrollbar-track {
  /* Background */
  background: #333;
  z-index: 1000;

}

.header {
  /* background-image: url("./assets/music-banner-1@3x.jpg"); */
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.musicCover {
  background-image: url(../assets/headset.jpg);

}

nav ul li {
  cursor: pointer;
}

.musicCover {
  background-image: url(./assets/headset.jpg);
}

/* .toTopAnimation {
  animation-name: down_to_top;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes down_to_top {
  from {
    transform: translateY(150px) rotate(-360deg);
    opacity: 0;

  }

  to {
    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }
} */

.loading {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #64748b;
  border-top-color: #1d4ed8;
  animation-name: loading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes loading {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

@font-face {
  font-family: 'Monoton';
  src: url(./assets/fonts/Monoton/Monoton-Regular.ttf) format("truetype");
}

.text-transparent {
  font-family: 'Monoton';
  font-size: 6rem;
  /* background: url(./assets/headset.jpg); */
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}