@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Monoton';
  src: url(./assets/fonts/Monoton/Monoton-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Edu-SA';
  src: url(./assets/fonts/Edu_SA_Beginner/EduSABeginner-VariableFont_wght.ttf) format("truetype");
}

.font-Monoton {
  font-family: 'Monoton'
}

.font-Edu-SA {
  font-family: "Edu-SA";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;

}

html {
  height: 100%;
}

/* fallback for old browsers */
/* Chrome 10-25, Safari 5.1-6 */
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
/*background: #BBD2C5;
background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);
background: linear-gradient(to right, #292E49, #536976, #BBD2C5);*/
body {
  -webkit-user-select: none;
  user-select: none;
  background-color: #a2a5b9;
}
.container{
  background-image: url(./assets/Audiobook.gif);
  background-position: center;
  background-repeat:no-repeat;
  background-size: cover;
}
/* .scroll{
  overflow-y: scroll;
} */
.scroll::-webkit-scrollbar {
  width: 10px;
  /* Mostly for vertical scrollbars */
  height: 10px;
  /* Mostly for horizontal scrollbars */
  z-index: 1000;
}

.scroll::-webkit-scrollbar-thumb {
  /* Foreground */
  background: #999;
  z-index: 1000;

}

.scroll::-webkit-scrollbar-track {
  /* Background */
  background: #333;
  z-index: 1000;

}

.header {
  /* background-image: url("./assets/music-banner-1@3x.jpg"); */
  background: #0f0c29;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.musicCover {
  background-image: url(../assets/headset.jpg);

}

nav ul li {
  cursor: pointer;
}

.musicCover {
  background-image: url(./assets/headset.jpg);
}

/* .toTopAnimation {
  animation-name: down_to_top;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes down_to_top {
  from {
    transform: translateY(150px) rotate(-360deg);
    opacity: 0;

  }

  to {
    transform: translateY(0px) rotate(0deg);
    opacity: 1;
  }
} */

.loading {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #64748b;
  border-top-color: #1d4ed8;
  animation-name: loading;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes loading {
  from {
    transform: rotate(-360deg);
  }

  to {
    transform: rotate(0deg);
  }
}


.text-transparent {
  text-align: center;
  font-family: 'Monoton';
  background-image: url(./assets/color-gif.gif);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-bg {

  background: #BBD2C5;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-position: center;
  background-repeat:repeat-y;
  background-size: cover;
}

.active {
  color: black;
}

form input,textarea{
  background-color: #f3f4f6;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  padding: 5px;
}